################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PerformanceApp
/PerformanceApp/bin
/PerformanceApp/obj
